/* ----------------------------------------
    Communs   
---------------------------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: #313131;
}

.container {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu current_music"
        "menu others_musics"
        "player_music player_music";
}

.menu {
    grid-area: menu;
}

.current_music {
    grid-area: current_music;
}

.others_musics {
    grid-area: others_musics;
}

.player_music {
    grid-area: player_music;
}


/* ----------------------------------------
    Brice   
---------------------------------------- */


/* ----------------------------------------
    Yanis   
---------------------------------------- */

body,
.container {
    height: 100vh;

}

nav i {
    color: white;
}

.menu {
    height: 80%;
   
}

nav  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.player_music {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
}

.others_musics {
    color: white;
}

table {
    width: 100%;
}

.first_music td:last-child {
    text-align: right;
    padding: 10px;
}

.second_music td:last-child {
    text-align: right;
    padding: 10px;
}

.third_music td:last-child {
    text-align: right;
    padding: 10px;
}

.four_music td:last-child {
    text-align: right;
    padding: 10px;
}

.player_title {
    display: flex; 
}

.player_button {
    display: flex; 
    flex-direction: row;
   
}

.player_info {
    display: flex;
    flex-direction: row;
}

.player_button div {
    padding: 20px;
}


.player_title {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
   
}

.player_info img {
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.player_title p:first-child {
    color: #17abd4;
}
/* ----------------------------------------
    Tom
---------------------------------------- */